body {
    font-family: Arial, sans-serif;
}
.form-container {
    display: flex;
    flex-direction: column;
}
form {
    width: fit-content;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}