:root {
    --lesson-width: 90px;
    --lesson-count-per-day: 10;
    --blue: #00A2E2;

    --global-padding-x: 20px;
    --global-padding-y: 10px;
    --global-padding: var(--global-padding-y) var(--global-padding-x);
}

body {
    font-family: Sans-serif, serif;
    padding: var(--global-padding);
}