.multigroup__form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    background: rgba(0, 0, 0, .3);
}

.multigroup__label {
    font-size: 13px;
    font-weight: 550;
}

.multigroup__checkbox {

}